<!DOCTYPE html>

<html ng-app="main">
  <head>
    <script src="../node_modules/howler/dist/howler.js"></script>
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="scripts/ng-stuff.js"></script>
    <script src="scripts/script.js"></script>
    <link rel="stylesheet" href="styles/main-style.css">
  </head>
  <body>
    <div id="top-bar">
      <div id="top-left">
        <span id="recents">Recent: </span>
      </div>
      <div id="top-right">
        <button class="top-button"><img class="button-icon" src="./res/plus-icon.png"></img></button>
        <input class="top-right-item" type="text" placeholder="Search...">
        <button class="top-button"><img class="button-icon" src="./res/exit-icon.png"></img></button>
      </div>
    </div>
    <div class="side-scroll" id="recents-row" ng-controller="recents-controller" scroll>
      <button ng-click="add()">OK</button>
      <table ng-show="recents.length >= 1">
        <tbody>
          <tr>
            <td ng-repeat="podcast in recents">
              <div class="row-item">
                <img class="row-podcast-image"></img>
                <div class="row-podcast-title">{{podcast.title}}</div>
                <div class="row-podcast-publisher">{{podcast.publisher}}</div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div id="no-recents" ng-show="recents.length < 1">
        <span class="message">Uh Oh!</span>
        <div id="explanation">It looks like you haven't listened to any podcasts yet</div>
        <br>
        <div id="directions">To start listening, click the '+' symbol at the top, and paste the URL of the RSS feed of your favorite podcast</div>
      </div>
    </div>
    <div id="now-playing-row">
      <img id="now-playing" src="./res/now-playing.png"></img>
      <div id="bottom-right">
        <div id="info">
          <span></span>
          <span></span>
        </div>
        <div id="controls"></div>
      </div>
    </div>
  </body>
</html>
