#new-podcast{
  width: 30%;
  height: 100%;
  float: right;
  overflow-x: hidden;
  -webkit-app-region: no-drag;
}

#url-input{
  width: 100%;
  margin-top: 1px;
  border-radius: 0px;
  margin-left: 10px;
  transition: .5s ease all;
  font-size: 9pt;
}


#url-input.ng-hide{
  transform: translate(200px);
}
