@font-face{
  font-family: "quicksand";
  src: url("../res/fonts/quicksand/Quicksand-Regular.otf");
}

@font-face{
  font-family: "quicksand_light";
  src: url("../res/fonts/quicksand/Quicksand-Light.otf");
}

@font-face{
  font-family: "quicksand_bold";
  src: url("../res/fonts/quicksand/Quicksand-Bold.otf");
}

@font-face{
  font-family: "ubuntu";
  src: url("../res/fonts/NotCourierSans-Bold.otf");
}


#main-containter{
  width: 95%;
  height: 80%;
  position: fixed;
  margin: auto;
  background-color: red;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: #013589;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 1px 1px 5px #000;
  transition: .3s ease all;
}

#main-containter.ng-hide{
  opacity: 0;
  transform: translateY(-10px);
}


#podcast-stuff{
  width: 100%;
  height: 45%;
  order: 1;

  flex-grow: 0;
  display: flex;
  flex-direction: row;
  padding: 5px;
}

#podcast-info{
  color: white;
  font-family: quicksand;

  order: 2;
  padding: 5px;
}


.no-blur{
  filter: blur(0px)grayscale(0%);
}

.blur{
  filter: blur(1px);
}


.visible{
  opacity: 1;
}

.invisible{
  opacity: 0;
}


.play-button{
  width: 25px;
  height: 25px;
  float:left;
  margin-top: -5px;
  margin-left: 10px;
  order: 0;
}

.play-button:hover{
  content: url("../res/list-play-button-mouseover.png");
}


#remove-button{
  margin: auto;
  height: auto;
  font-size: 9pt;
  background-color: #930202;
  height: 17px;
  color: white;
  line-height: 1px;
  position: absolute;
  margin-top: -20px;
  margin-left: 5px;
  border-radius: 10px;
  transition: linear all 0.3s;
}

#remove-button:active{
  background-color: #660000;
}

#remove-button.ng-hide{
  opacity: 0;
}

#overlay{
    height: 100%;
    width: auto;
    order: 1;
    /*transition: all linear 1s;*/
    transition: 5s -webkit-filter linear;
}

#overlay.ng-hide{
  opacity: 1;
}




#podcast-image{
  background-color: red;
  order:0;
  height: 95%;
  box-shadow: 0px 0px 5px #000;
  position: relative;
  display: block;
}

#podcast-view-title{
  float: left;
  font-size: 20pt;
  font-weight: bold;
  width: auto;
  float: left;
}

#publisher{

}

#description{
  font-size: 9pt;
  font-weight: bold;
}

#podcast-exit{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
}


#podcast-episodes{
  width: 100%;
  order: 2;
  background-color: #003184;
  height: 10%;
  flex-grow: 1;
  z-index: 2;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 20px;
}

.entry-data{
  width: 100%;
  height: 25px;
  padding-bottom: 5px;
  padding-top: 13px;
  border-bottom: solid 1px #013ea5;
  margin-left: 5px;
  display: flex;
  flex-direction: row;
}

.entry-duration{
  font-family: ubuntu;
  color: white;
  font-size: 9pt;
  float:right;
  font-weight: bold;
  margin-right: 25px;
  margin-left: 20px;
  margin-top: -1px;
  order: 3;
}

.entry-data:hover{
  background:rgba(0, 0, 0, 0.05);
}


.entry-option{
  float: right;
  height: 65%;
  width: auto;
  margin-right: 15px;
  margin-top: 1px;
  order: 4;
}

.entry-option:hover{
  -webkit-filter: brightness(30%);
}

.entry-name{
  color: white;
  float: left;
  flex-grow: 5;
  font-family: quicksand;
  font-size: 9pt;
  margin-left: 10px;
  overflow: hidden;
  height: 50px;
  margin-top: -10px;
  line-height: 40px;
  width: 80%
  order: 2;
}


.marquee{
  display: inline-block;
  position: relative;
  height: 20px;
  white-space: pre;
  transition: all linear 5s;
  float: left;
}



.marquee-scroll{
  height: 20px;
  animation: marquee 10s linear infinite;
  width: auto;
}


@keyframes marquee {
  0% { left: 0; }
100% { left: -100%; }
}


#episode-filter{
  transform: translate(5px, -30px);
  position: fixed;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 10px;
}


#episode-filter::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-align: left;
  margin-left: 5px;
}


.options-menu{
  transform: translateY(-30px);
  position: absolute;
  text-align: left;
  margin-left: 5px;
  width: 150px;
  right: 0;
  height: 20px;

}




.option-holder{
  float:right;
  width: 50px;
  text-align: center;
}

.option-icon{
  height: 20px;
  width: auto;
}

.option-icon:hover{
  -webkit-filter: brightness(60%);
}
